.container {
  border: 3px solid red;
  width: 640px;
  height: 480px;
  display: flex;
  flex-direction: row;
  /*Horizontal*/
  align-items: center;
  /*Vertical*/
  justify-content: space-evenly;
  
}

.elementos{
    border: 2px solid darkblue;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miolo{
    border: 1px solid brown;
    width: 50px;
    height: 40px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}